/*
* Below is the main Cascading Style Sheet for bengroneman.tech.
* @Author: Ben Groneman
* @Date: 01-06-2019
*/
@font-face {
  font-family: "Open Sans Regular";
  src: url("/src/assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("/src/assets/fonts/Open_Sans/OpenSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Source Code Pro Regular";
  src: url("/src/assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Source Code Pro Light";
  src: url("/src/assets/fonts/Source_Code_Pro/SourceCodePro-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Source Code Pro Bold";
  src: url("/src/assets/fonts/Source_Code_Pro/SourceCodePro-Bold.ttf") format("ttf");
}

/* START Global Font styles Styling! */

h1 {
  font-family: 'Source Code Pro Bold', monospace;
  font-size: 3em!important;
}
h2 {
  font-family: 'Source Code Pro Light', monospace;
  font-size: 2em!important;
}
h3 {
  font-family: 'Source Code Pro Regular', monospace;
  font-size: 1.5em!important;
}
h4 {
  font-family: 'Source Code Pro Light', monospace;
}
h5 {
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 1.2em!important;
  font-weight: 700!important;
}
h6 {
  font-family: 'Open Sans Light', sans-serif;
  font-size: small!important;
}
p {
  font-family: 'Open Sans Light', sans-serif;
}
span, span, em, pre, a {
  font-family: 'Source Code Pro Light', monospace;
}

/* END Global Font styles Styling! */

/* START Universal Styles */
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
* {
  font-family: 'Source Code Pro Light', monospace;
}
body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
code {
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  color: white!important;
}
pre {
  background-color: transparent;
  border: none;
}
a {
  color: #54d0ba;
}

/* END Universal Styles */


/* START Re-Usable Styles */
.color-is--grey {
  color: #a9a9a9!important;
}
.is-standard--width {
  max-width: 1080px;
  margin: auto;
}
.margin-top-bottom {
  margin: 45px auto 45px auto!important;
}
/* END Re-Usable Styles */

/* START Global Navigation Styles */

.dropdown-menu > a {
  color: black!important;
}
#nav a {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  position: relative;
  bottom: 15px;
}

#nav a.router-link-exact-active {
  color: #6e7f80;
  border-bottom: 5px solid #6e7f80;
}

/* END Global Navigation Styles */

/* START Re-Usable Styles */

.b-divider {
  width: 100%;
  border: 2px solid rgba(84, 208, 186, 0.24);
}
.text-is-left {
	text-align: left;
}
.text-is-center {
  text-align: center;
}
.text-is-right {
  text-align: right;
}
.full-column-height {
  height: 100%;
}
.lifted-card-feel:before, .lifted-card-feel:after {
	z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 100%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg); 
}
.lifted-card-feel:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.parent {
  display: flex;
}
.child {
  margin: auto;
}
.md-heading {
  color: rgba(41, 46, 51, 0.31);
}
.clip-side-margin {
  margin-left: 0!important;
  margin-right: 0!important;
}

/* END Re-Usable Styles */

/* START Targeted/Specific Styles */
#particle-js {
  background-image: url('public/img/CodenStuff.PNG');
}
.button-black .text {
  color: black!important;
}
#b-btn {
  color: rgb(84,208,186)!important;
  background: rgb(44, 62, 80)!important;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  border: 1px solid rgb(84, 208, 186);
}
#b-btn:hover {
  box-shadow: -6px 7px 0px 0px #6e7f80;
  transform: scaleX(1.025) scaleY(1.025);
}
.quote-blurb {
  background: linear-gradient(#000000, #202f3e);
  font-weight: 900;
  height: 300px;
  display: inline-block;
}
.quote-blurb > h2 {
  font-size: 2em;
  margin: 75px auto 45px auto;
}
.quote-blurb > p {
  font-size: 1.5em;
  font-weight: 500;
  color: #54d0ba;
}
.skills-section {
  background: #202f3e;
  height: 100%!important;
}
.fluid__container {
    margin: 0;
    width: 100%!important;
    color: white;
}
.b-project-section {
    /* background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #7a7a7a 10px, rgba(96, 16, 48, 0) 11px) 0px 10px, radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #7a7a7a 10px, rgba(96, 16, 48, 0) 11px), #0a0a0a; */
    background: url("img/hexels/open_source_background.png");
    background-size: 20px 20px;
    width: 100%;
    height: 100%;
}

/* END Targeted/Specific Styles */

