/*
* Below is the main Cascading Style Sheet for bengroneman.tech.
* @Author: Ben Groneman
* @Date: 12-5-2018
*/

/* START Universal Styles */
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#nav {
  padding: 30px 30px 0 30px;
}
code {
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  color: white!important;
}
pre {
 background-color: transparent;
 border: none;
}
a {
  color: #54d0ba!important;
}

  /* START Global Font styles Styling! */
h1 { font-family: 'Source Code Pro', monospace!important; }
h2 { font-family: 'Source Code Pro', monospace!important; }
h3 { font-family: 'Source Code Pro', monospace!important; }
h4 { font-family: 'Source Code Pro', monospace!important; }
h5 { font-family: 'Open Sans', sans-serif!important; }
h6 { font-family: 'Open Sans', sans-serif!important; }
p { font-family: 'Open Sans', sans-serif!important; }

  /* END Global Font styles Styling! */

/* START Universal Styles */

/* START Global Navigation Styles */

.dropdown-menu > a {
  color: black!important;
}
#nav a {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  position: relative;
  bottom: 15px;
}

#nav a.router-link-exact-active {
  color: #6e7f80;
  border-bottom: 5px solid #6e7f80;
}

/* END Global Navigation Styles */

/* START Re-Usable Styles */

.b-divider {
  width: 100%;
  border: 2px solid rgba(84, 208, 186, 0.24);
}
.text-is-left {
	text-align: left;
}
.text-is-center {
  text-align: center;
}
.text-is-right {
  text-align: right;
}
.full-column-height {
  height: 100%;
}
.lifted-card-feel:before, .lifted-card-feel:after {
	z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 100%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg); 
}
.lifted-card-feel:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.parent {
  display: flex;
}
.child {
  margin: auto;
}
.md-heading {
  color: rgba(41, 46, 51, 0.31);
}

/* END Re-Usable Styles */

/* START Targeted/Specific Styles */
#particle-js {
  background-image: url('public/img/CodenStuff.PNG');
}
.button-black .text {
  color: black!important;
}
#b-btn {
  color: rgb(84,208,186)!important;
  background: rgb(44, 62, 80)!important;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  border: 1px solid rgb(84, 208, 186);
}
#b-btn:hover {
  box-shadow: -6px 7px 0px 0px #6e7f80;
  transform: scaleX(1.025) scaleY(1.025);
}
.quote-blurb {
  background: linear-gradient(#000000, #202f3e);
  font-weight: 900;
  height: auto;
  display: inline-block;
}
.quote-blurb > h2 {
  font-size: 2em;
  margin: 75px auto 45px auto;
}
.quote-blurb > p {
  font-size: 1.5em;
  font-weight: 500;
  color: #54d0ba;
}
.skills-section {
  background: #202f3e;
  height: 100%!important;
}
.fluid__container {
    margin: 0;
    width: 100%!important;
    color: white;
}
.b-project-section {
    background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #7a7a7a 10px, rgba(96, 16, 48, 0) 11px) 0px 10px, radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #7a7a7a 10px, rgba(96, 16, 48, 0) 11px), #0a0a0a; 
    background-size: 20px 20px;
    width: 100%;
    height: 100%;
}

/* END Targeted/Specific Styles */

